<h3>{{title}}</h3>

<router-outlet></router-outlet>
<!--<app-messages></app-messages>-->

<!--
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>
&nbsp;
<mat-form-field>
  <mat-select [(value)]="selected">
    <mat-option value="measurement">Measurement</mat-option>
    <mat-option value="activity">Activity</mat-option>
    <mat-option value="workout">Workout</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<button mat-raised-button color="primary">Add event...</button>
-->


